.alert-wrapper {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.alert-wrapper h4 {
  margin: 0 0 10px 0;
  
}

.alert-wrapper.success {
  background-color: #439C88;
}

.success h4 {
  color: white;
}

.alert-wrapper.error {
  border: #F56260 solid 1px;
}

.error h4 {
  color: #F56260;
}

.alert-wrapper.info {
  border: #455469 solid 1px;
}

.info h4 {
  color: #455469;
}