.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
    
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vw;
  border-radius: 1rem;

  background: #b4c6cf;
  box-shadow:  20px 20px 60px #99a8b0,
              -20px -20px 60px #cfe4ee;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.bio {
  text-align: center;
  color: whitesmoke;
  margin-top: 0.25rem;
  padding: 0.5rem
}

.waveButton {
  margin: 0.25rem 1rem;
  border: 0;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 1rem;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #455469 75%);
  }
  .waveButton:hover {
    background-position: right center;
  }
  .waveButton:active {
    top: 2px;
  }
  footer{
    color: #140202;
    display: flex;
    padding: 0.1rem;
    position:absolute;
    bottom: 2.5rem;
    flex-direction: row;
    border-radius: 1rem;
    background: #f5f0f0;
    box-shadow:  20px 20px 60px #d0cccc,
              -20px -20px 60px #ffffff;
  }

  /* Spinner starts here */
.loader{
  /* display: flex; */
  position:absolute;
  bottom: 30vh;
  justify-content: center;
}
.spinner {
  animation: spinnerThree 2s linear infinite;
  background: #4DB6AC;
  border-radius: 2rem;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: #fff;
}

@keyframes spinnerThree {
  0%, 35% {
    background: #4DB6AC;
    transform: scale(1);
  }
  20%, 50% {
    background: #80CBC4;
    transform: scale(1.3);
  }
}
/* Spinner ends here */

.wavecard{
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  line-height: 0.7ch;
  font-size: 0.6rem;
  flex-direction: row;
  border-radius: 16px;
  color: #fff;
  background: #8AAFA5;
  justify-content: center;
}
.scrollTable{
  overflow-y: scroll;
  height: 30vh;
  width: 30vw;
  align-items: center;
  border-radius:0.5rem;

}
textarea#styled {
	width: 20vw;
	height: 10vh;
	border: 3px solid #cccccc;
  border-radius: 0.5rem;
	padding: 5px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
body > footer {
  position: sticky;
  top: 100vh;
}

.btn{
  color: #282936;
  font-family: 'Nova Flat', cursive;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 25px 10px 45px;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s ease 0s;
  z-index: 1;
}

.btn:hover{
  background-color: #EE5A24;
  width: 100%;
}
.btn:before,
.btn:after{
  color: #fff;
  content: "➡";
  font-weight: 900;
  line-height: 48px;
  width: 40px;
  height: 40px;
  position: absolute;
 
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btn:after{
  background-color: #282936;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: -1;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.btn.orange:hover:after{
  background-color: #EE5A24;
  width: 100%;
  
}
@media only screen and (max-width: 767px){
  .btn{ margin-bottom: 20px; }
}